@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$first-color: #8bc1f3;
$second-color: #031926;

.navbar {
  background-image: url("../assets/wave.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: $first-color;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-inline: 1rem 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  h1 {
    color: white;
    font-family: "Just Another Hand", cursive;
    font-size: 2rem;
    margin-block: 10px;
    font-weight: 400;
  }
  h2 {
    color: white;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
  }
}
